header {
  /* height: 400px;  */
  width: 100%;
  background-image: url("https://www.transparenttextures.com/patters/escheresque.png");
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}